/*
  Theme Name: Name - Multipurpose HTML Template
  Author: mdsalim400@gmail.com
  Support: admin@gmail.com
  Description: Creative  HTML5 template.
  Version: 1.0
*/
/* CSS Index
-----------------------------------
1. Theme default css
2. header
3. slider
4. contact
5. about
6. skill
7. qualification
8. portfolio
9. services
10. team
11. contact-form
12. brand
13. blog

*/
/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Source+Sans+Pro:400,600,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: .875rem;
    line-height: 1.5;
}

.img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

.f-left {
    float: left
}

.f-right {
    float: right
}

.fix {
    overflow: hidden
}

a, .button {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

a:focus, .button:focus {
    text-decoration: none;
    outline: none;
}

a:focus, a:hover {
    color: rgba(0, 0, 0, .87);
    text-decoration: none;
}

a, button {
    color: #1696e7;
    outline: medium none;
}

button:focus, input:focus, input:focus, textarea, textarea:focus {
    outline: 0
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

h1, h2, h3, h4, h5, h6 {
    color: #42495b;
    margin-top: 0px;
    font-style: normal;
    margin-bottom: 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
}

h1 {
    font-size: 50px;
    font-weight: 500;
}

h2 {
    font-size: 55px;
}

h3 {
    font-size: 45px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 28px;
}

h6 {
    font-size: 16px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none
}

p {
    font-size: 15px;
    font-weight: normal;
    line-height: 26px;
    font-family: 'Source Sans Pro', sans-serif;
}

hr {
    border-bottom: 2px solid #f2f7ff;
    border-top: 0 none;
    margin: 0;
    padding: 0;
}

label {
    color: #7e7e7e;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

*::-moz-selection {
    background: #d6b161;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

*::-moz-placeholder {
    color: #555555;
    font-size: 14px;
    opacity: 1;
}

*::placeholder {
    color: #555555;
    font-size: 14px;
    opacity: 1;
}

.theme-overlay {
    position: relative
}

.theme-overlay::before {
    background: #1696e7 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
}

.separator {
    border-top: 1px solid #f2f2f2
}

/* sanjiv */
#scrollUp {
    height: 35px;
    width: 35px;
    right: 50px;
    bottom: 77px;
    /* color: #4267B2; */
    background:white;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    line-height: 34px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

#scrollUp:hover {
    /* background: #fff; */
    color: #4267B2;
}

/* button style */
/**/
.btn {
    -moz-user-select: none;
    background: transparent;
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1;
    border-radius: 24px;
    margin-bottom: 0;
    padding: 17px 40px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
    font-weight: 500;
    border: 1px solid transparent;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.theme-btn:hover {
    background: #303F9F;
    color: #fff;
}

.slider-btn {
    background: #fff;
    color: rgba(0, 0, 0, .87);
}

.primary-btn {

}

/* Header */
header {
    width: 100%;
    background: transparent;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    z-index: 999;
    position: fixed;
    transition: .3s;
}

.header-area.zekio-sticky {
    padding: 10px 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    background: #fff;
}

.main-menu ul li {
    display: inline-block;
}

.main-menu ul li a {
    color: #fff;
    padding: 8px 15px;
    font-weight: 700;
    border-radius: 4px;
    -webkit-transition: .3s;
    transition: .3s;
    display: block;
    font-style: initial;
}

.header-area.zekio-sticky .main-menu ul li a {
    color: rgba(0, 0, 0, .87);
}

.header-area.zekio-sticky .btn.primary-btn {
    color: rgba(0, 0, 0, .87);
    border-color: rgba(0, 0, 0, .87);
}

@media (max-width: 767px) {
    .header-area.zekio-sticky .btn.primary-btn {
        color: #ffffff !important;
        border-top: 1px solid rgba(255, 255, 255, 0.5) !important;
        border-radius: 0px;
    }
}

.zekio-sticky .mean-container a.meanmenu-reveal {
    border-color: rgba(0, 0, 0, .87);
}

.zekio-sticky .mean-container a.meanmenu-reveal span {
    background: rgba(0, 0, 0, .87);
}

.zekio-sticky .mean-container a.meanmenu-reveal {
    color: rgba(0, 0, 0, .87);
}

.primary-btn {
    padding: 14px 40px;
    font-size: 14px;
    border-color: #fff;
    box-shadow: none;
}

.btn i {
    margin-right: 10px;
}

.theme-btn {
    padding: 15px 26px;
}

.trial-btn {
    padding: 15px 28px;
}

/* Slider */
.background-style {
    background-size: cover;
    background-position: center center;
}

.slider-thum img {
    max-width: 100%;
}

.single-slider {
    min-height: 680px;
}

.slider-content h2 {
    margin: 0 0 24px;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .22);
    color: #fff;
}

.slider-content h4 {
    margin: 0 0 40px;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    color: #fff;
}

.slider-intro-list ul li {
    margin-bottom: 1rem;
    color: #fff;
    display: flex;
    align-items: center;
}

.slider-intro-list ul li span {
    margin-right: 8px;
    color: #ff9100;
    font-size: 18px;
    font-weight: 500;
}

.section-header h2 {
    font-size: 48px;
    padding: 0 0 40px 0;
    font-weight: 700;
    line-height: 52px;
    position: relative;
}

/* sanjiv */

.section-header h2:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 80%;
    margin: auto;
    width: 50px;
    /* height: 1px; */
    height:2px;
    /* background: #454545; */
    background: #88D93F;
}

/* fetures */
.fetures-icon {
    height: 140px;
    width: 140px;
    display: inline-block;
    background-image: url(../img/icons/icons-bg.png);
}

.fetures-icon img {
    position: relative;
    top: 25px;
}

.fetures-text h4 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
}

.fetures-text span {
    font-weight: 700;
    font-size: 24px;
}

/* sanjiv */
.fetures-wrapper {
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    padding: 50px 25px;
    transition: .3s;
}

.fetures-wrapper:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    transform: translate(0, -10px);
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    background: #fff;
}

/* Pricing */
.pricing-title {
    font-size: 24px;
    font-weight: 700;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 25px;
}

.pricing-title:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    margin: auto;
    width: 50px;
    height: 1px;
    background: #454545;
    transition: .3s;
}
/* sanjiv */
.price-item:hover .pricing-title::after {
    width: 60%;
}

.pricing-values b {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    bottom: -5px;
}

.pricing-values .pricing-currency {
    display: inline-block;
    font-size: 20px;
    margin-right: -10px;
}

.currency {
    font-size: 50px;
    font-weight: 700;
}

.pricing-period {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    bottom: -5px;
}
/* sanjiv */
.pricing-values.text-center {
    font-size: 50px;
    font-weight: 700;
    margin-bottom:30px;
}

.price-item:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.price-item.active {
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.price-item {
    background: #fff;
    padding: 40px 60px;
    transition: .3s;
}

/* sanjiv */
.pricing-list li {
    font-size: 13px;
    font-weight: 500;
    line-height: 40px;
    list-style-type: none;
    color: #232323;
    display: flex;
    align-items: center;
    border-bottom:1px solid #cac8c8;
}
/* sanjiv */
.pricing-list li i {
    color: #63be11;
    width: 25px;
    font-size: 17px;
}

.pricing-list li span.far.fa-times {
    color: #e04645;
}

.pricing-btn {
    color: #000;
}

.price-tabs {
    text-align: center;
    display: block;
}

.price-tabs li {
    display: inline-block;
}

.price-tabs li a.active {
    border-bottom: 2px solid #2D017C;
}

.price-tabs li a {
    color: #000;
    font-size: 18px;
}

/* Team */
.team-img img {
    width: 100%;
}

.team-box .team-social li {
    display: inline-block;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.team-box .team-social li a {
    display: block;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: 1px solid;
    width: 36px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: #fff;
    border-color: #FFFFFF;
    color: #384141;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}

.team-box .team-social li a.facebook-bg:hover {
    background: #4267B2;
    color: #fff;
    border: 1px solid #4267B2;
}

.team-box .team-social li a.twitter-bg:hover {
    background: #1DA1F2;
    color: #fff;
    border: 1px solid #1DA1F2;
}

.team-box .team-social li a.instagram-bg:hover {
    background: #C32AA3;
    color: #fff;
    border: 1px solid #C32AA3;
}

.team-box .team-social li a.pinterest-bg:hover {
    background: #BD081C;
    color: #fff;
    border: 1px solid #BD081C;
}

.team-img {
    position: relative;
    overflow: hidden;
}

.team-box .team-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3264f5;
    background: -moz-linear-gradient(left, #3264f5 2%, #7202bb 82%);
    background: -webkit-linear-gradient(left, #3264f5 2%, #7202bb 82%);
    background: linear-gradient(to right, #3264f5 2%, #7202bb 82%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3264f5', endColorstr='#7202bb', GradientType=1);
    opacity: .5;
}

.team-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: all .5s ease-in .1s;
    -o-transition: all .5s ease-in .1s;
    transition: all .5s ease-in .1s;
    height: 100%;
    width: 100%;
}

.team-box:hover .team-overlay {
    opacity: 1;
    visibility: visible;
}

.team-social {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.team-box .team-social li:first-child {
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
}

.team-box .team-social li:nth-child(2) {
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}

.team-box .team-social li:nth-child(3) {
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
}

.team-box .team-social li:nth-child(4) {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}

.team-box .team-social li {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

.team-box:hover .team-social li {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.team-text {
    font-size: 14px;
    padding: 2rem 0 2.5rem 0;
}

.team-text h5 {
    font-size: 1.6rem;
}

/* progress */
.bar-title h4 {
    font-size: 16px;
    margin-bottom: 10px;
}
/* sanjiv */
.progress-bar {
    /* background: -moz-linear-gradient(left, #3264f5 2%, #7202bb 82%);
    background: -webkit-linear-gradient(left, #3264f5 2%, #7202bb 82%);
    background: linear-gradient(to right, #3264f5 2%, #7202bb 82%); */
    background: -moz-linear-gradient(left, #3264f5 2%, #88D93F 82%);
    background: -webkit-linear-gradient(left, #3264f5 2%, #88D93F 82%);
    background: linear-gradient(to right, #3264f5 2%,#88D93F 82%);

}

.single-skill .progress {
    border-radius: 50px;
    height: 14px;
}

.team-box {
    border: 20px solid #ffffff;
    background: #fff;
}

/* Contact */


/* sanjiv */
.contact-form{
    border:0;
    border-radius:6px;
    padding:  60px;
    box-shadow:3px 4px 10px grey;
     
}
.form-box input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e2e2e2;
    padding: 12px 0;
    background: #fff;
    letter-spacing: .7px;
    font-weight: 300;
    border-radius: 0;
    box-shadow: none;
    height: 44px;
    color: #a5a5a5;
    font-size: 14px;
    width: 100%;
}

.form-box textarea {
    border: none;
    border-bottom: 1px solid #e2e2e2;
    padding: 12px 0;
    background: #fff;
    letter-spacing: .7px;
    font-weight: 300;
    border-radius: 0;
    box-shadow: none;
    color: #a5a5a5;
    font-size: 14px;
    width: 100%;
    height: 170px;
}
 

.secondary-btn {
    color: rgba(0, 0, 0, .87);
    border-color: rgba(0, 0, 0, .87);
    position: relative;
    z-index: 1;
}

/* sanjiv */
.secondary-btn::before {
    position: absolute;
    /* background-image: linear-gradient(to right, #3264f5 0%, #7202bb 51%, #3264f5 100%); */
    background-image: linear-gradient(to right, #3264f5 0%, #88D93F 51% ); 
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 24px;
    z-index: -1;
    opacity: 0;
    transition: .3s;
}

.secondary-btn:hover.secondary-btn::before {
    opacity: 1;
}

.secondary-btn:hover {
    color: #fff;
    border-color: transparent;
}

/* Footer */

/* sanjiv */

.widget-title {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 20px;
    color:white;
    font-size:20px;
    text-transform: uppercase;
}

.text-copy-right {
    color: #838383;
    line-height: 22px;
    margin-bottom: 30px;
}

ul.footer-icons li {
    display: inline-block;
    margin: 10px 30px 0 0;
    outline:none;
    background-color: #4b5359;
     
}



/* sanjiv */

.footer-icons li a {
    /* color: #454545; */
     color:white;
    font-size: 20px;
    padding:5px 10px;
    transition: .3s;
}
 

ul.footer-link li {
    padding: 10px 0;
    line-height: 22px;
    
}

 

/* sanjiv */
.footer-link li a {
    /* color: #838383; */
    color:white;
}

.header-btn {
    padding: 14px 20px;
    margin-left: 50px;
}

/* Footer */
.widget-title {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 20px;
    font-size:20px;
}

.text-copy-right {
    color: #838383;
    line-height: 22px;
    margin-bottom: 30px;
}

 

/* sanjiv */
.footer-icons li a {
    /* color: #454545; */
    color:white;
    font-size: 20px;
    transition: .3s;
     
    
}
/* sanjiv */
.footer-icons li .facebook_bg:hover   {
    /* color: #A1A1A1; */
    /* color:rgb(214, 209, 209); */
    background:#3b5998;
}
.footer-icons li .twitter_bg:hover{
    background:#00acee
}
.footer-icons li .googleplus_bg:hover{
    background:#db4a39 ;
}
.footer-icons li .instagram_bg:hover{
     background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.footer-icons li .linkedin_bg:hover{
    background:#3f729b;
}

ul .footer-link li {
    padding: 6px 0;
    line-height: 22px;
}
 

 

footer .contact-list li i {
    color: #838383;
    float: left;
    margin-top: 8px;
}

/* sanjiv */
footer .contact-list li p {
    padding-left: 20px;
    /* color: #838383; */
    color:white;

}
 /* sanjiv */
.powerful-features-single-step i {
    font-size: 24px;
    /* color: #4275ff; */
    color:#1AA2CD;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    display: block;
    border: 2px solid #d9e8ff;
    transition: all .3s ease-in-out;
}

/* sanjiv */
.powerful-features-single-step:hover i {
    /* background: #d9e8ff; */
    background-image:linear-gradient(to bottom,#89DA3F,white);
    cursor: pointer;
}

.powerfull-features-video.position-relative img {
    width: 100%;
}

.features-text span {
    font-size: 24px;
    color: #42495b;
}

.features-text p {
    margin-bottom: 0;
    margin-top: 7px;
}

.features-img img {
    margin-left: -25px;
}

.powerfull-features-img {
    position: relative;
}
/* sanjiv */
.powerfull-features-img img {
    width:300px;
    height:500px;
    margin-left:30px;
}